{% extends 'main/base.html' %}
{% load static %}

{% block title %} My reservations {% endblock title %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4 font-italic">My reservations</h1>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            {% if object_list %}
                <table class="table">
                    <thead>
                       <tr>
                           <th>Date</th>
                           <th>Time</th>
                           <th>Parking place</th>
                           <th></th>
                       </tr>
                    </thead>
                    <tbody>
                    {% for item in object_list %}
                        <tr>
                        <td>{{ item.date_field|date:'d.m.Y' }}</td>
                        <td>{{ item.time }}</td>
                        <td>{{ item.parking.name }}</td>
                        <td><a  class="btn btn-primary" href="#">Delete</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
            <h5 class="mb-5">You don't have any reservations.</h5>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}