{% extends 'main/base.html' %}
{% load static %}

{% block title %} Reservation {% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center font-italic mb-3">Reservation of {{ place.name }}</h1>
    <div class="row justify-content-center">
        <div class="col-10 col-sm-5">
            <form class="singup" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary px-4 mt-4" type="submit">reserve</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}